<app-slider1>

	<div appSliderItem>
		<div class="example-card">
			<mat-card-header>
				<div mat-card-avatar class="shiba-header-image"></div>
				<mat-card-title>Shiba Inu</mat-card-title>
				<mat-card-subtitle>Dog Breed</mat-card-subtitle>
			</mat-card-header>
			<img  src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" >
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </div>
  </div>

  <div appSliderItem>
    <div class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="akita-header-image"></div>
        <mat-card-title>Akita</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img src="https://cdn1-www.dogtime.com/assets/uploads/gallery/akita-dogs-and-puppies/akita-dogs-puppies-3.jpg" alt="Photo of a Akita">
      <mat-card-content>
        <p>
The Akita (秋田犬 Akita-inu, Japanese pronunciation: [akʲita.inɯ]) is a large breed of dog originating from the mountainous regions of northern Japan. There are two separate varieties of Akita: a Japanese strain, commonly called "Akita Inu" ("inu" means "dog" in Japanese), or "Japanese Akita"; and an American strain, known as the "Akita" or "American Akita".
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </div>
  </div>


  <div appSliderItem>
    <div class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="chow-chow-header-image"></div>
        <mat-card-title>Chow Chow</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img  src="https://cdn3-www.dogtime.com/assets/uploads/gallery/chow-chow-dog-breed-pictures/3-fullbody.jpg" alt="Photo of a Akita">
      <div>
        <p>
The Chow Chow (sometimes simply Chow[1]:7–8) is a dog breed originally from northern China,[3] where it is referred to as Songshi Quan (Pinyin: sōngshī quǎn 鬆獅犬), which means "puffy-lion dog". The breed has also been called the Tang Quan, "Dog of the Tang Empire". It is believed[by whom?] that the Chow Chow is one of the native dogs used as the model for the Foo dog, the traditional stone guardians found in front of Buddhist temples and palaces.
        </p>
      </div>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </div>
  </div>


  <!-- <div appSliderItem>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="shiba-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div appSliderItem>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="akita-header-image"></div>
        <mat-card-title>Akita</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://cdn1-www.dogtime.com/assets/uploads/gallery/akita-dogs-and-puppies/akita-dogs-puppies-3.jpg" alt="Photo of a Akita">
      <mat-card-content>
        <p>
The Akita (秋田犬 Akita-inu, Japanese pronunciation: [akʲita.inɯ]) is a large breed of dog originating from the mountainous regions of northern Japan. There are two separate varieties of Akita: a Japanese strain, commonly called "Akita Inu" ("inu" means "dog" in Japanese), or "Japanese Akita"; and an American strain, known as the "Akita" or "American Akita".
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div> -->


  <div appSliderItem>
    <div class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="chow-chow-header-image"></div>
        <mat-card-title>Chow Chow</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img  src="https://cdn3-www.dogtime.com/assets/uploads/gallery/chow-chow-dog-breed-pictures/3-fullbody.jpg" alt="Photo of a Akita">
      <mat-card-content>
        <p>
The Chow Chow (sometimes simply Chow[1]:7–8) is a dog breed originally from northern China,[3] where it is referred to as Songshi Quan (Pinyin: sōngshī quǎn 鬆獅犬), which means "puffy-lion dog". The breed has also been called the Tang Quan, "Dog of the Tang Empire". It is believed[by whom?] that the Chow Chow is one of the native dogs used as the model for the Foo dog, the traditional stone guardians found in front of Buddhist temples and palaces.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </div>
  </div>
</app-slider1>